@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4"><b>Coding with C#</b></h1>
    <ol>
        <li>Be persistent</li>
        <li>Have a routine</li>
        <li>Learn the fundamentals properly</li>
    </ol>
</div>
